@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comfortaalight';
    src: url('../fonts/comfortaa-light-webfont.woff2') format('woff2'), url('../fonts/comfortaa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'), url('../fonts/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatzlight';
    src: url('../fonts/yanonekaffeesatz-light-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('../fonts/yanonekaffeesatz-regular-webfont.woff2') format('woff2'), url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box.
}
body {
    font-family: 'montserratregular';
    color: #0c8c97;
}
#container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}
main{
    width: 100%;
}
#menu-knop{
    position: fixed;
    top: 10px;
    right: 5%;
    bottom: 0;
    width: 50px;
    height: 60px;    
    z-index: 23;
    cursor: pointer;
}
.img{
    width: 40px;
    height: 40px;
    margin: 15px 0 0 5px;
    background-position: center;
    background-image: url(../img/open.png);
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.menuClose{
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: ;
}
.closedNav{
    display: none;
}
nav{
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    background-color: white;
    top: 0px;
    line-height: 50px;
}
nav ul{
    margin: 100px 0 0 70px;
}
nav li{
    
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    margin-top: -10px;
    margin-right: 50px;
    color: #0c8c97;
    background-color: white;
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 30px;
    font-family: 'montserratregular';
}

nav ul a:hover {
    color: rgba(12, 140, 151, 0.57);
    cursor: pointer;
}
header {
    font-family: 'Yanone Kaffeesatz';
    margin-top: 30px;
    position: relative;
}
#logo {
    text-align: center;
}
#logo h1 {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'yanone_kaffeesatzlight';
}
#logo h2 {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'yanone_kaffeesatzlight';
    margin-bottom: 50px;
}
header span {
    color: #67c7c5;
}

#slider {
    width: 90%;
    height: 450px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    display: none;
    margin-bottom: 70px;
   
}

.slide {
    position: absolute;
    left: 100%;
    height: 450px;
    width: 90%;


}

.een {
    width:100%;
    animation: slide1 10s ease infinite;
    background-image: url(../img/slider1.jpg);
    background-size: cover;
    background-position: right;
}



.twee {
    width:100%;
    animation: slide2 10s ease infinite;
    background-image: url(../img/cranio.JPG);
    background-size: cover;
    background-position: bottom;

}

.drie {
    animation: slide3 10s ease infinite;
    background-image: url(../img/slider3.jpg);
    background-size: cover;
    background-position: center;
width:100%;
}

.vier {
    animation: slide4 10s ease infinite;
    background-image: url(../img/Duomassage.jpg);
    background-size: cover;
    background-position:bottom ;
    width:100%;
}


@keyframes slide1 {
    0% {
        left: 100%;
        z-index: 2;
    }
    3% {
        left: 0;
    }
    22% {
        left: 0;
    }
    24.9% {
        left: 0;
    }
    25% {
        left: 100%;
        z-index: 1;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}

@keyframes slide2 {
    0% {}
    20% {
        left: 100%;
        z-index: 2
    }
    28% {
        left: 0;
    }
    48% {
        left: 0;
    }
    49.9% {
        left: 0;
        z-index: 2;
    }
    50% {
        left: 100%;
        z-index: 1;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}

@keyframes slide3 {
    0% {}
    45% {
        left: 100%;
        z-index: 2;
    }
    53% {
        left: 0;
    }
    73% {
        left: 0;
    }
    74.9% {
        left: 0;
        z-index: 2;
    }
    75% {
        left: 100%;
        z-index: 1;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}

@keyframes slide4 {
    0% {}
    70% {
        left: 100%;
        z-index: 2;
    }
    78% {
        left: 0;
    }
    98% {
        left: 0;
    }
    99.9% {
        left: 0;
        z-index: 2;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}


#mainimage img {
    width: 100%;
    height: auto;
}
.welkom {
    display: none;
    text-align: center;
    color: #0c8c97;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'comfortaaregular';
}
#mainbalk {
    width: 100%;
    height: 90px;
    background-color: #0c8c97;
    margin-bottom: 50px;
}
#mainbalkIndex {
    width: 100%;
    height: 90px;
    background-color: #0c8c97;
    margin-bottom: 50px;
}
.overcorpo {
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    padding-top: 30px;
    animation: zichtbaar 2s linear;
    margin-bottom: 50px;
}
.titelcontact {
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    padding-top: 30px;
    animation: zichtbaar 2s linear;
}
.cadeaubon {
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    padding-top: 30px;
    animation: zichtbaar 2s linear;
}

 #formuliertekst{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    #infoformulier{
        
    }
    #bon{
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    #formulier{
        width: 70%;
        margin: 0 auto;
        border-radius: 5px;
    background-color: rgba(103, 199, 197, 0.35);
    padding: 20px;
        margin-top: 50px;
    }
input[type=text], select, textarea {
    width: 90%; /* Full width */
    padding: 15px; /* Some padding */  
    border: 1px solid #0c8c97; /* Gray border */
    border-radius: px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 9px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
    display: block;
}


input[type=submit] {
    background-color: #0c8c97;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(12, 140, 151, 0.53);
}
input[type=reset] {
    background-color: #0c8c97;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: rgba(12, 140, 151, 0.53);
}

.behandelingen {
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 35px;
    padding-top: 25px;
    font-weight: 100;
    animation: zichtbaar 2s linear;
}
@keyframes zichtbaar {
    from {
        opacity: 0;
        font-size: 0;
    }
    to {
        opacity: 1;
        font-size: 18px;
    }
}
#homeDeel1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#eersteParagraaf{
    display: block;
    width: 100%;
    text-align: left;
}
.paragraaf {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 40px;
}
.paragraaf2 {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    margin-bottom: 40px;
}
.paragraaf2 a{
    text-decoration: none;
    color: #0c8c97;
}
.paragraaf2 a:hover{
    color: rgba(12, 140, 151, 0.49);
}
.paragraaf2 h3 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
}
.paragraaf3 {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    margin-bottom: 10px;
}
.paragraaf3 a{
    text-decoration: none;
    color: #0c8c97;
}
.paragraaf3 a:hover{
    color: rgba(12, 140, 151, 0.44);
}
#homefacebook {
    margin-bottom: 30px;
}
#homefacebook a{
    padding-right: 30px;
    width: 50px;
    height: 50px;
}
.paragraaf2 h4 {
    font-size: 16px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.paragraaf3 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.paragraaf4 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    line-height: 30px;
}
#mainbeneden h3 {
    text-align: left;
    color: #0c8c97;
    font-size: 25px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'comfortaaregular';
    line-height: 40px;
}
.evenementen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.afbeelding{
    width: 100%;
    height: auto;
    text-align: center;
}

  #mainbeneden .workshop2{
        width:100%;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: left;
    }
p.workparagraaf-index{
    margin-bottom: 40px;
}
  #mainbeneden .workshop5{
        width:100%;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: left;
    }
p.workparagraaf5{
    margin-bottom: 40px;
}
#mainbeneden .workshop {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: left;
}



#part2{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: left;
}
#mainbeneden .workshops img {
     width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#mainbeneden .workparagraaf {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}


#mainbeneden {
    width: 100%;
}
#mainbeneden .image {} .workparagraaf {
    margin-bottom: 30p;
}
footer {
    background-color: #67c7c5;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
footer h2 {
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    padding-bottom: 10px;
}
footer h3 {
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 100;
    padding-bottom: 10px;
    line-height: 25px;
}
 #copy{
        font-size: 11px;
        text-align: center;
    }
#deel1 a{
    color: white;
}
#deel2{
    display: none;
}
#deel3{
    display: none;
}
#socialmedia {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-left: 20px;
}
#socialmedia img {
    margin-right: 30px;
}
#adres {
    display: flex;
    width: 100%;
}
#adres img {
    min-width: 40px;
    margin-bottom: -35px;
}
#adres p {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3px;
    margin-top: 55px;
}
#telefoon img {
    min-width: 30px;
    margin-top: 30px;
}
#telefoon {
    display: flex;
    width: 100%;
}
#telefoon p {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3px;
    margin-top: 95px;
}
#email {
    display: flex;
    width: 100%;
}
#email img {
    max-width: 50px;
    margin-bottom: -75px;
}
#email p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    margin-top: 75px;
}
#email a{
    text-decoration: none;
    color: #0c8c97;
}
#email a:hover{
    color: rgba(12, 140, 151, 0.51);
}
#persoonlijk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
#karla {
    margin-left: 0px;
    margin-right: 20px;
    width: 100%;
}
#karla img{
    width: 100%;
}
#prive {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 27px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
    width: 100%;
}
#contactblok {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#maps{
    width: 100%;
}
#maps iframe {
    width: ;
    height: 400px;
    margin-bottom: 30px;
/*    margin-left: 10%;*/
}
#route {
    width: 100%;
}
#route h3 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
#route h4 {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}
#route h5 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
#route p {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    line-height: 25px;
}
#blokken {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.blok {
    margin: 10px;
    width: 100%;
    height: 200px;
}
    
.blok:nth-child(1) {
    background-image: url(../img/behandeling1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.blok:nth-child(2) {
    background-image: url(../img/pediemani.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.blok:nth-child(3) {
    background-image: url(../img/wax2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
}
.blok:nth-child(4) {
    background-image: url(../img/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: ;
    position: relative;
}
.blok:before {
    content: "";
    width: 200px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 20%;
    opacity: 1;
}
.blok:hover:before {
    opacity: 1;
    transition: all 1s;
}
.bloktekst1 a {
    font-size: 9px;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 24%;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    color: #0c8c97;
}
.bloktekst2 a {
    font-size: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 30%;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    color: #0c8c97;
}
.bloktekst3 a {
    font-size: 12px;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 36%;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    color: #0c8c97;
}
.bloktekst4 a {
    font-size: 12px;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 38%;
    text-align: center;
    opacity: 1;
    text-decoration: none;
    color: #0c8c97;
}

.item h2{
    width:400px;
    cursor:pointer;
    line-height: 50px;
}

#infothera h4{
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: rgba(12, 140, 151, 0.83);
}

.content{
    transition: all .7s;
    height:450px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 50px;
    width: 100%;
}
.closed{
    height:0;
    overflow: hidden;
}
.item2 h2{
    width:400px;
    cursor:pointer;
    line-height: 50px;
}

#infoschoon h4{
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: rgba(12, 140, 151, 0.83);
}

.content2{
    transition: all .3s;
    height:'70px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 50px;
    width: 100%;
}
.closed2{
    height:0;
    overflow: hidden;
}

#infoschoon{
    margin-bottom: 50px;
    line-height: 30px;
}

#infomani p {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 50px;
}
#infomani h2{
    margin-bottom: 20px;
}


#submenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 .link1 {
    margin: 20px;
    width: 100%;
    height: 150px;
    background-image: url(../img/cranio.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
     cursor: pointer;
} 
    .link1:before {
    content: "";
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 35%;
}
.link1:hover:before{
    background-color: #0c8c97;
}

.link1 a{
    position: absolute;
    text-decoration: none;
    color: #0c8c97;
    font-size: 12px;
    letter-spacing: 1px;
    top: 47%;
    left: 38%;
}

.link1:hover a{
    color: white;
}

.link2 {
    margin: 20px;
    width: 100%;
    height: 150px;
    background-image: url(../img/ontspanningsmassage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
     cursor: pointer;
} 
    .link2:before {
    content: "";
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 35%;
}
.link2:hover:before{
    background-color: #0c8c97;
}

.link2 a{
    position: absolute;
    text-decoration: none;
    color: #0c8c97;
    font-size: 12px;
    letter-spacing: 1px;
    top: 48%;
    left: 39%;
}

.link2:hover a{
    color: white;
}

.link3 {
    margin: 20px;
    width: 100%;
    height: 150px;
    background-image: url(../img/estetisch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
     cursor: pointer;
} 
    .link3:before {
    content: "";
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 35%;
}
.link3:hover:before{
    background-color: #0c8c97;
}

.link3 a{
    position: absolute;
    text-decoration: none;
    color: #0c8c97;
    font-size: 12px;
    letter-spacing: 1px;
    top: 48%;
    left: 43%;
}

.link3:hover a{
    color: white;
}


#therapeutisch{
    display: block;
}

#ontspannend{
    display: none;
}

#estetisch{
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 50px;
}
td,
th {
    padding: 10px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    width: 70%;
}
thead tr th {
    text-align: left;
    font-size: 16px;
}
.blauw {
    background-color: #67c7c5;
    color: white;
}
.wit {
    background-color: white;
}

@media (min-width: 850px) {
   #menu-knop{
        display: none;
    }
    .closedNav{
        display: inline-block;
    }
    header{
        position: relative;
    }
    nav{
        position: absolute;
        top: 135px;
        right: 0px;
        width:85%;
/*        width: auto;*/
        height: auto;        
        background-color: transparent;
    }
    nav ul{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        margin-top: 0;
        right: 20px;
    }
    nav ul a{
        display: inline-block;
        font-size: 12px;
        letter-spacing: 1px;
        background-color: transparent;
        margin-right: 15px;
    }
    nav a:hover{
        color: rgba(12, 140, 151, 0.51);
    }
    
    #logo{
        position: relative;
        width: 170px;
    }
    
    #logo h1{
        font-size: 35px;
        text-align: center;
    }
    #logo h2{
        font-size: 15px;
        text-align: center;
    }
    #slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    display: block;
    margin-bottom: 70px;
   
}

.slide {
    position: absolute;
    left: 100%;
    height: 400px;
    width: 90%;


}

.een {
    width:100%;
    animation: slide1 12s ease infinite;
    background-image: url(../img/slider1.jpg);
    background-size: cover;
    background-position: right;
}



.twee {
    width:100%;
    animation: slide2 12s ease infinite;
    background-image: url(../img/slider2.jpg);
    background-size: cover;
    background-position: top;

}

.drie {
    animation: slide3 12s ease infinite;
    background-image: url(../img/slider3.jpg);
    background-size: cover;
    background-position: center;
width:100%;
}

.vier {
    animation: slide4 12s ease infinite;
    background-image: url(../img/duo%20massage.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
}


@keyframes slide1 {
    0% {
        left: 100%;
        z-index: 2;
    }
    3% {
        left: 0;
    }
    22% {
        left: 0;
    }
    24.9% {
        left: 0;
    }
    25% {
        left: 100%;
        z-index: 1;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}

@keyframes slide2 {
    0% {}
    20% {
        left: 100%;
        z-index: 2
    }
    28% {
        left: 0;
    }
    48% {
        left: 0;
    }
    49.9% {
        left: 0;
        z-index: 2;
    }
    50% {
        left: 100%;
        z-index: 1;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}

@keyframes slide3 {
    0% {}
    45% {
        left: 100%;
        z-index: 2;
    }
    53% {
        left: 0;
    }
    73% {
        left: 0;
    }
    74.9% {
        left: 0;
        z-index: 2;
    }
    75% {
        left: 100%;
        z-index: 1;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}

@keyframes slide4 {
    0% {}
    70% {
        left: 100%;
        z-index: 2;
    }
    78% {
        left: 0;
    }
    98% {
        left: 0;
    }
    99.9% {
        left: 0;
        z-index: 2;
    }
    100% {
        left: 100%;
        z-index: 1;
    }
}
    
.welkom {
    display: block;
    text-align: center;
    color: #0c8c97;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
    margin-bottom: 50px;
    font-weight: 100;
    font-family: 'comfortaaregular';
}
    #mainbalkIndex {
    width: 100%;
    height: 90px;
    background-color: #0c8c97;
    margin-bottom: 50px;
        display: none;
}

    
    #homeDeel1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

#eersteParagraaf{
    display: block;
    width: 50%;
    text-align: left;
}
    
    .paragraaf2{
        width: 100%;
    }
    
    .evenementen{
        display: block;
        width: 100%;
    }
    
    
    #part1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    #part3{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 80px;
    }
    
   .workshops  {
       width: 50%;
}
    .workshop{
        width: 40%;
    
    }
    
    
    
    
    #part2{
        text-align: center;
    }
    
    
    #mainbeneden h3{
        text-align: center;
        margin-top: 50px;
        
    }
    
    #adres{
        width: 40%;
    }
    #adres p{
        margin-top: 65px;
        font-size: 16px;
    }
    #telefoon{
        width: 35%;
    }
    #email{
        width: 50%;
        display: flex;
    }
    #email img{
        margin-top: -30px;
    }
    #email p{
        margin-top: 100px;
        font-size: 15px;
    }
     #email a{
        text-decoration: none;
         color: #0c8c97;
    }
     #email a:hover{
       color: rgba(12, 140, 151, 0.55);
    }
    #socialmedia{ width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenl;
        margin:0 auto;
        margin-bottom: 70px;
    }
    
    #persoonlijk{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    #karla img{
        display: non;
    }
    #karla{
        width: 50%;
    }
    #prive{
        width: 40%;
        margin-top: -10px;
        line-height: 35px;
    }
    #formuliertekst{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    #infoformulier{
        
    }
    #bon{
        text-align: center;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
    }
    #formulier{
        width: 70%;
        margin: 0 auto;
         border-radius: 5px;
    background-color: rgba(103, 199, 197, 0.35);
    padding: 20px;
    }
    
input[type=text], select, textarea {
    width: 90%; /* Full width */
    padding: 15px; /* Some padding */  
    border: 1px solid #0c8c97; /* Gray border */
    border-radius: px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 9px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
    display: block;
}


input[type=submit] {
    background-color: #0c8c97;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(12, 140, 151, 0.53);
}
input[name=comment] {
    height: 300px;
}

    #blokken{
        justify-content: center;
    }
    
    .blok {
    margin: 20px;
    width: 400px;
    height: 300px;
} 
  
    .content{
        width: 70%;
    }
    .content2{
        width: 70%;
    }
  .blok:before {
    content: "";
    width: 300px;
    height: 100px;
    background-color: white;
    position: absolute
    top: 30%;
    left: 12%;
    opacity: 0;
}
    .blok:hover:before{
        background-color: #0c8c97;
    }
 
.bloktekst1 a{
        top: 70px;
        opacity: 0;
        height: 150px;
        left: 25%;
        padding-top: 80px;
        
    }

.bloktekst1:hover a{
        opacity: 1;
    transition: all 1s;
    color: white;
    }
    
.bloktekst2 a{
        top: 70px;
        left: 30%;
        opacity: 0;
        height: 150px;
        padding-top: 80px;
        
    }
    
    .bloktekst2:hover a{
        opacity: 1;
    transition: all 1s;
    color: white;
    }
    
    .bloktekst3 a{
        top: 70px;
        left: 35%;
        opacity: 0;
        height: 150px;
        padding-top: 80px;
        
    }
    
    .bloktekst3:hover a{
        opacity: 1;
    transition: all 1s;
    color: white;
    }
    .bloktekst4 a{
        top: 70px;
        left: 40%;
        opacity: 0;
        height: 150px;
        padding-top: 80px;
        
    }
    
    .bloktekst4:hover a{
        opacity: 1;
    transition: all 1s;
    color: white;
    }
    
    #submenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 .link1 {
    margin: 20px;
    width: 25%;
    height: 150px;
    background-image: url(../img/Shiatsu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
     cursor: pointer;
} 
    .link1:before {
    content: "";
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 28%;
}
.link1:hover:before{
    background-color: #0c8c97;
}

.link1 a{
    position: absolute;
    text-decoration: none;
    color: #0c8c97;
    font-size: 12px;
    letter-spacing: 1px;
    top: 47%;
    left: 33%;
}

.link1:hover a{
    color: white;
}

.link2 {
    margin: 20px;
    width: 25%;
    height: 150px;
    background-image: url(../img/ontspanningsmassage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
     cursor: pointer;
} 
    .link2:before {
    content: "";
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 26%;
}
.link2:hover:before{
    background-color: #0c8c97;
}

.link2 a{
    position: absolute;
    text-decoration: none;
    color: #0c8c97;
    font-size: 12px;
    letter-spacing: 1px;
    top: 48%;
    left: 32%;
}

.link2:hover a{
    color: white;
}

.link3 {
    margin: 20px;
    width: 25%;
    height: 150px;
    background-image: url(../img/estetisch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
     cursor: pointer;
} 
    .link3:before {
    content: "";
    width: 150px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 28%;
}
.link3:hover:before{
    background-color: #0c8c97;
}

.link3 a{
    position: absolute;
    text-decoration: none;
    color: #0c8c97;
    font-size: 12px;
    letter-spacing: 1px;
    top: 48%;
    left: 40%;
}

.link3:hover a{
    color: white;
}
    #route{
        width: 70%;
    }
    #route p{
        line-height: 25px;
    }
    #deelFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #deel1{
        width: 35%;
        text-align: left;
    }
    #deel1 a{
        text-decoration: none;
        color: white;
    }
    #deel1 a:hover{
        color:rgba(255, 255, 255, 0.46);
    }

    #deel2{
        display: block;
        width: 30%;
        text-align: left;
    }
    #navigatie a{
        display: block;
        line-height: 30px;
        text-decoration: none;
        color: white;
    }
    #navigatie a:hover{
        color:rgba(255, 255, 255, 0.46);
    }
    #navigatie span{
        color: #0c8c97;
    }
    #deel3{
        display: block;
        width: 20%;
        text-align: left;
    }
    #homefacebook {
    margin-bottom: 30px;
}
#homefacebook a{
    padding-right: 20px;
}
    #copy{
        font-size: 13px;
        padding-top: 30px;
        text-align: right;
        margin-right: 20px;
    }
    
    
}

@media (min-width: 950px){
    nav{
        position: absolute;
        top: 133px;
        right: 0px;
        width:90%;
/*        width: auto;*/
        height: auto;        
        background-color: transparent;
    }
    nav ul{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        margin-top: 0;
        right: 0px;
    }
    nav ul a{
        display: inline-block;
        font-size: 13px;
        letter-spacing: 1px;
        background-color: transparent;
        margin-right: 15px;
    }
    nav a:hover{
        color: rgba(12, 140, 151, 0.51);
    }
    
  
    
}


@media (min-width: 1150px) {
    
    nav ul{
        margin-right: 25px;
    }
    nav ul a{
        font-size: 15px;
    }
    
    .workshops img{
        margin-top:7px;
    }
    .workshop{
        margin-left: 10px;
    }
   
    
     #adres{
        width: 30%;
    }
#telefoon{
        width: 30%;
    }
#email{
        width: 30%;
        display: flex;
    }
    
    #socialmedia{
        margin-bottom: 70px;
    }
    
     .evenementen1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    .afbeelding{
        width: 30%;
        height: auto;
        margin-right: 50px;
        margin-top: 40px;
    }
     #mainbeneden .workshop2{
        width:50%;
        margin-left: 150px;
    }
    
     .evenementen5{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    .workshops5{
        width: 30%;
        height: auto;
        margin-right: 50px;
        margin-top: 40px;
    }
     #mainbeneden .workshop5{
        width:50%;
        margin-left: 150px;
    }
}
    
   
   







